.card {
  text-align: start !important;
  border: 2px solid gray;
  padding: 10px;
;
}
.headerOfCard {
  display: flex;
  justify-content: space-between;
}
.headerOfCard h4 {
  margin: 0;
}

.button {
  text-align: right;
  cursor: pointer;
}

.tags {
  display: flex;
  margin: 5px;
}

.tag {
  margin: 3px;
  border: 1px solid gray;
  background: #dad5d5;
}