.filter {
  padding: 10px;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
}

.tag {
  margin: 3px;
  border: 1px solid gray;
  background: #dad5d5;
}


